.scroll-container {
    position: fixed;
    left: 0;
    width: 80vh;
    height: calc(100vw);
    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: center calc(40vh);
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center;
}